<a href="https://colab.research.google.com/github/oliver22-2/Senai-Python/blob/main/Atv11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [38]:
#Definindo a seed aleatória
np.random.seed(42)

#Gerar os dados
meses = np.arange(1, 13)

#Gerar vendas com distribuição normal e remover negativos
vendas_produto_A = np.random.normal(loc=1000, scale=150, size=12).round().astype(int)
vendas_produto_A = np.where(vendas_produto_A < 0, 0, vendas_produto_A)

vendas_produto_B = np.random.normal(loc=800, scale=100, size=12).round().astype(int)
vendas_produto_B = np.where(vendas_produto_B < 0, 0, vendas_produto_B)

vendas_acessorios = np.random.normal(loc=300, scale=50, size=12).round().astype(int)
vendas_acessorios = np.where(vendas_acessorios < 0, 0, vendas_acessorios)

#Criar o DataFrame
df_vendas = pd.DataFrame({
    'Mês': meses,
    'Produto A': vendas_produto_A,
    'Produto B': vendas_produto_B,
    'Acessórios': vendas_acessorios
})

#Adicionar coluna de Total Vendas Mensal
df_vendas['Total Vendas Mensal'] = (
    df_vendas['Produto A'] + df_vendas['Produto B'] + df_vendas['Acessórios']
)

#Exibir o DataFrame
print("Dados de Vendas Mensais:")
df_vendas

Dados de Vendas Mensais:

    Mês  Produto A  Produto B  Acessórios  Total Vendas Mensal
0     1       1075        824         273                 2172
1     2        979        609         306                 1894
2     3       1097        628         242                 1967
3     4       1228        744         319                 2291
4     5        965        699         270                 1934
5     6        965        831         285                 2081
6     7       1237        709         270                 2216
7     8       1115        659         393                 2167
8     9        930        947         299                 2176
9    10       1081        777         247                 2105
10   11        930        807         341                 2078
11   12        930        658         239                 1827

In [33]:
#Calcular médias
medias = df_vendas[['Produto A', 'Produto B', 'Acessórios', 'Total Vendas Mensal']].mean()
print("Média de Vendas por Categoria e Total:")
medias

Média de Vendas por Categoria e Total:

Produto A              1044.333333
Produto B               741.000000
Acessórios              290.333333
Total Vendas Mensal    2075.666667
dtype: float64

In [40]:
#Calcular totais acumulados
totais = df_vendas[['Produto A', 'Produto B', 'Acessórios', 'Total Vendas Mensal']].sum()
print("Total de Vendas no Ano por Categoria e Geral:")
totais

Total de Vendas no Ano por Categoria e Geral:
Produto A              12532
Produto B               8892
Acessórios              3484
Total Vendas Mensal    24908
dtype: int64

In [36]:
#Mês com maior total de vendas
mes_maior_venda = df_vendas.loc[df_vendas['Total Vendas Mensal'].idxmax()]
print("Mês com Maior Venda:")
mes_maior_venda

Mês com Maior Venda:

Mês                       4
Produto A              1228
Produto B               744
Acessórios              319
Total Vendas Mensal    2291
Name: 3, dtype: int64

In [37]:
#Mês com menor total de vendas
mes_menor_venda = df_vendas.loc[df_vendas['Total Vendas Mensal'].idxmin()]
print("Mês com Menor Venda:")
mes_menor_venda

Mês com Menor Venda:

Mês                      12
Produto A               930
Produto B               658
Acessórios              239
Total Vendas Mensal    1827
Name: 11, dtype: int64